#root{
    width: 100vw;
}


.register {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    .center {
        display: flex;
        flex-direction: row;

        h1{
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        label{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        Input{
            height: 3rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }

        Button{
            height: 3rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
            padding: 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1rem;
        }

        .left {
            flex: 1;
            height: 100vh;
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right {
            flex: 1;
            height: 100vh;
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(108, 170, 106);

            img {
                min-width: 200px;
                max-width: 100%; 
                min-height: 200px;
                max-height: 100%; 
            }
        }
    }
}